<html lang='en'>
  <head>
    <title>Acuerdo</title>
    <link rel='stylesheet' href='style.css' />
  </head>

  <body>
    <img src='logo.jpeg' alt='logo' class="w-10 h-10" />
    <div id="imprimir" class='border-solid border border-red-500'>
      {{{message}}}
    </div>

  </body>
</html>
